ul.nav.nav-pills
    li(role='presentation')
        a(href='/ouadmin') Главная
    li(role='presentation')
        a(href='/ouadmin/users') Пользователи
    li(role='presentation')
        a(href='/ouadmin/orders') Счета
hr