extends ../layout

block content
    // Slider Start
    .container
        .row
            .col-md-12
                .block
                    h1 Админпанель - Пользователи

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container
        include adminNav
    .container
        table.table.table-hover
            thead
                tr
                    th Id
                    th Number
                    th User id
                    th Summ
                    th Is paid
                    th Date pay
                    th Comment
            tbody
                each order in orders
                    tr
                        td= order.id
                        td= order.number
                        td= order.userId
                        td= order.summ
                        td= order.isPaid ? 'Yes' : 'No'
                        td= order.datePay
                        td= order.paymentComment

