extends ../layout

block content
    // Slider Start
    .container
        .row
            .col-md-12
                .block
                    h1 Админпанель - Редактирование пользователя

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container
        include adminNav
    .container
        .row
            .col-xs-6
                p.lead Действительно удалить пользователя?
                //form(method="POST", action="/ouadmin")
                //    input(type="hidden", name="method", value="delete")
                //    input(type="hidden", name="id", value=user.id)
                //    input.btn.btn-warning.btn-block(type="submit", value="Ok")
                a(href="/ouadmin/users/remove/"+user.id)
                    button.btn.btn-warning.btn-block Ok
                br
                a(href="/ouadmin/users")
                    button.btn.btn-default.btn-block Отмена

            .col-xs-6
                ul
                    each prop in ['id', 'username', 'hashedPassword', 'salt', 'email', 'confirmed_email', 'phone', 'created', 'poolCount', 'status', 'active', 'confirmPhoneToken', 'confirmPhoneTokenExpires']
                        li= user[prop] ? (prop + ': ' + user[prop]) : ''


