extends ../layout

block content
    // Slider Start
    .container
        .row
            .col-md-12
                .block
                    h1 Админпанель - Пользователи

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container
        include adminNav
    .container
        table.table.table-hover
            thead
                tr
                    th Id
                    th Partner
                    th Status
                    th Username
                    th Email
                    th Email confirmed
                    th Phone
                    th Created
                    th Details
            tbody
                each user in users
                    tr
                        td= user.id
                        td= user.partnerId
                        td= user.status
                        td= user.username
                        td= user.email
                        td= user.email === user.confirmed_email ? 'Yes' : 'No'
                        td= user.phone
                        td= user.created.toDateString()
                        td
                            a(href='/ouadmin/users/'+user.id) More
                            br
                            a(href='/ouadmin/users/edit/'+user.id) Edit
                            if user.status < 1
                                br
                                a(href='/ouadmin/users/delete/'+user.id) Delete
