extends ../layout

block content
    // Slider Start
    .container
        .row
            .col-md-12
                .block
                    h1 Админпанель - Редактирование пользователя

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container
        include adminNav
    .container
        ul
            each prop in ['id', 'username', 'hashedPassword', 'salt', 'email', 'confirmed_email', 'phone', 'created', 'poolCount', 'status', 'active', 'confirmPhoneToken', 'confirmPhoneTokenExpires']
                li= user[prop] ? (prop + ': ' + user[prop]) : ''
    hr
    if user.id !== currentUser.id
        .container
            .panel.panel-primary
                .panel-heading= 'Cтатус участника : ' + user.status
                .panel-body
                    .row
                        .col-xs-6.col-sm-4.col-md-3
                            a(href="/ouadmin/users/change-status/"+user._id+"/"+0)
                                button.btn.btn-default.btn-block [0] Базовая регистрация
                        .col-xs-6.col-sm-4.col-md-3
                            a(href="/ouadmin/users/change-status/"+user._id+"/"+1)
                                button.btn.btn-default.btn-block [1] Оплаченная регистрация
                        if currentUser.status >= 100
                            .col-xs-6.col-sm-4.col-md-3
                                a(href="/ouadmin/users/change-status/"+user._id+"/"+90)
                                    button.btn.btn-default.btn-block [90] Администратор
                            .col-xs-6.col-sm-4.col-md-3
                                a(href="/ouadmin/users/change-status/"+user._id+"/"+100)
                                    button.btn.btn-default.btn-block [100] Суперпользователь
