extends ../layout

block content
    // Slider Start
    .container
        .row
            .col-md-12
                .block
                    h1 Админпанель - Пользователь

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container
        include adminNav
    .container
        ul
            each prop in ['id', 'username', 'hashedPassword', 'salt', 'email', 'confirmed_email', 'phone', 'created', 'poolCount', 'status', 'active', 'confirmPhoneToken', 'confirmPhoneTokenExpires']
                li= user[prop] ? (prop + ': ' + user[prop]) : ''

