extends layout

block content
    // Slider Start
    .container
        .row
            .col-md-12
                .block
                    h1 Активация учетной записи

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container
        if user.status == 0
            p
                strong Статус учетной записи:
                |  (0) Предварительная регистрация
            if (orderId)
                a(href='/pay/'+ orderId)
                    button.btn.btn-primary Активировать
        else
            p
                strong Статус:
                |  (1) Зарегистрированный пользователь





