extends layout

block content
    .container
        .row
            .col-md-12
                .block
                    h1 Соглашение о порядке предоставления платного сервиса

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container.agreement
        p Настоящее Соглашение определяет способы и общий порядок приобретения и использования Платной Системы «Д-Опрос»на Сайте www.d-opros.com
        ul
            li 1. Термины
                p
                    strong Администрация
                    |  – уполномоченные физические лица на управление Сайтом, действующие от имени Платной Системы «Д-Опрос» на Сайте www.d-opros.com
                p
                    strong Платная Система
                    |  – доступ к электронному контенту на платной основе, доступ к информации об Услуге и к информации о приобретении Услуги на платной основе.
                p
                    strong Кошелёк пользователя
                    |  - виртуальный счёт Пользователя, отражающий денежные средства, перечисленные Пользователем на счёт Администрации для целей доступа к Платной Системы   «Д-Опрос» на Сайте www.d-opros.com, количество подключенных пользователей, а также количество заполненных и принятых Администрацией анкет, а также количество анкет, которые еще необходимо ему заполнить
                p
                    strong Пользователь сайта (далее Пользователь)
                    |  – лицо, имеющее доступ к Сайту www.d-opros.com, посредством сети Интернет и использующее Сайт www.d-opros.com.
                p
                    strong Активный Пользователь сайта (далее Активный Пользователь)
                    |  -  лицо, имеющее доступ к Сайту посредством сети Интернет и использующее Сайт www.d-opros.com, получающий анкеты в Системе «Д-Опрос» на Сайте www.d-opros.com
                p
                    strong Пассивный Пользователь сайта
                    |  - лицо, имеющее доступ к Сайту www.d-opros.com, посредством сети Интернет и использующее Сайт, не получающий анкеты в Системе «Д-Опрос» на сайте           www.d-opros.com
                p
                    strong Реферальная программа «Д-Опрос»
                    |  - это комплекс мероприятий, позволяющих Пользователям получать прибыль, продвигая Платную Систему «Д-Опрос» среди иных третьих лиц. Когда по реферальной ссылке Активного Пользователя регистрируется новый Пользователь, Активный Пользователь начинает получать анкеты. За заполненные анкеты, Активный Пользователь получает вознаграждение.
                p
                    strong Реферал Пользователя
                    |  - лицо, имеющее доступ к Сайту www.d-opros.com, посредством сети Интернет и использующее Сайт www.d-opros.com, прошедший регистрацию по уникальной ссылке Активного Пользователя.
                p
                    strong Анкета
                    |  - представляет собой вопросы с несколькими вариантами ответов.
                p
                    strong Вознаграждение Пользователя
                    |  - денежные средства в размере 150 (сто пятьдесят) рублей, выплачиваемые Активному Пользователю за заполненные анкеты. Пассивным Пользователям анкеты не высылаются.
            li 2. Права и обязанности Администрации.
                ul
                    li 2.1. Изменять правила пользования Сайтом www.d-opros.com, а также изменять содержание данного Сайта. Изменения вступают в силу с момента публикации новой редакции настоящего Соглашения на Сайте.
                        | br Если Пользователь продолжаете пользоваться услугами Платной Системы «Д-Опрос» на Сайте www.d-opros.com после публикации изменений в настоящем Соглашении, считается, что Пользователь тем самым принимаете изменения его условий или Соглашение в новой редакции.
                    li 2.2. Ограничить доступ к Сайту www.d-opros.com  в случае нарушения Пользователем условий настоящего Соглашения.
                    li 2.3. Изменять размер оплаты, взимаемый за предоставление доступа к использованию сайта www.d-opros.com. Изменение стоимости не будет распространяться на Пользователей, имеющих регистрацию к моменту изменения размера оплаты, за исключением особых случаев, специально оговоренных Администрацией сайта.
                    li 2.4. Администрация обязана обеспечить доступ  любому Пользователю к Платной Системе «Д-Опрос» на Сайте www.d-opros.com, при условии достаточности внесённых средств.
                    li 2.5. Платный Сервис «Д-Опрос» на Сайте www.d-opros.com предоставляется Пользователям, достигшим 18 лет, или лицам от 16 лет, имеющим разрешение родителей на регистрацию. Пользователи обязаны при прохождении регистрации на Сайте сообщить о себе достоверные данные, в том числе данные о своем возрасте. Несовершеннолетние лица обязаны самостоятельно получить разрешение родителей или иных законных представителей на посещение данного сайта, регистрацию в Платной Системе «Д-Опрос» и совершение иных действий по продвижению «Д-Опрос», получение вознаграждения и любые иные действия, связанные с этим. Платная Система «Д-Опрос» не несет ответственности перед третьими лицами, с которыми взаимодействует Пользователь, родителями или иными законными представителями несовершеннолетних Пользователей, прошедших регистрацию на Сайте www.d-opros.com. Платная Система «Д-Опрос» может отказаться предоставлять свои услуги любым лицам и в любой момент по своему собственному усмотрению.
            li 3. Права и обязанности Пользователя.
                ul
                    li 3.1. Получить доступ к использованию Сайта www.d-opros.com после соблюдения требований о регистрации и оплате.
                    li 3.2. Активный Пользователь самостоятельно отслеживает наличие/отсутствие анкет в своём Кошельке.
                    li 3.3. Пользователь самостоятельно и за свой счёт обязан нести все расходы, связанные с перечислением денежных средств по оплате доступа к Платной Системе «Д-Опрос» на Сайте www.d-opros.com, включая сборы, комиссии систем переводов, банков, платежных систем и иные виды платежей.
                    li 3.4. Пользователь, приобретающий доступ к Платной Системе «Д-Опрос» на Сайте www.d-opros.com, обязан использовать его в соответствии с условиями настоящего сайта и соблюдать законодательство РФ.
                    li 3.5.  Пользователь имеет право принимать участие в Реферальной программе в случае, если он принимает условия и ограничения данного Соглашения. Если пользователь не согласен с положениями Соглашения, он не должен принимать участие в Реферальной программе (использовать реферальные ссылки, баннеры, получать вознаграждение за привлечение новых клиентов). Факт непринятия соглашения не влияет на другие применимые соглашения и Условия использования.
                    li 3.6. Пользователь вправе размещать свою реферальную ссылку, получив ее в личном кабинете после регистрации, на любом сайте и все, перешедшие по этой реферальной ссылке и получившие доступ к Платной Системе «Д-Опрос» на Сайте www.d-opros.com, будут считаться рефералами Пользователя.
                    li 3.7. Активный Пользователь получает анкету за каждого привлеченного нового Пользователя, а после ее заполнения, вознаграждение  при условии, что новый  Пользователь прошел регистрацию по уникальной ссылке Активного Пользователя.
            li 4. Ответственность сторон.
                ul
                    li 4.1. Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего Соглашения, а также вследствие несанкционированного доступа к коммуникациям самого Пользователя иными третьими лицами, Администрацией сайта не возмещаются.
                    li 4.2. Администрация сайта не несет ответственности за:
                        ul
                            li 4.2.1. Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.
                            li 4.2.2. Действия систем переводов, банков, платежных систем и за задержки, связанные с их работой.
                            li 4.2.3. Надлежащее функционирование Сайта, в случае, если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами.
            li 5. Порядок оплаты доступа к Платному Сервису.
                ul
                    li 5.1. Выбор платежной системы
                    li 5.2. Все вознаграждения за исполнения условий Соглашения начисляются в Кошелек Пользователя автоматически, при этом информация о сумме вознаграждения доступна Пользователю в Личном кабинете, равно как и минимальная сумма к выплате. Вознаграждения могут быть обналичены в общем порядке (по достижении суммы в размере от 300 (трехсот) рублей на счету Активного Пользователя в Личном кабинете).
                    li 5.3. При заказе обналичивания, в соответствии с положениями Налогового кодекса РФ (ст. 210-226 НК РФ) и приказами Министерства финансов РФ, с доходов физических лиц (в том числе, при выплате физическому лицу вознаграждения) подлежит уплате налог на доходы физических лиц (НДФЛ) в доход государства/органов местного самоуправления.  Активный Пользователь несет самостоятельную ответственность за уплату НДФЛ.
                    li 5.4. Пользователь вносит денежные средства самостоятельно от своего имени, несовершеннолетний пользователь вносит денежные средства от своего имени, но с согласия своего родителя/законного представителя, или денежные средства вносятся родителем и/или законным представителем от имени несовершеннолетнего. При этом согласие родителя/законного представителя на распоряжение денежными средствами и заключение сделок презюмируется.
                    li 5.5. При отказе Пользователя от Платной Системы «Д-Опрос» на Сайте www.d-opros.com, денежные средства, внесённые Пользователем при регистрации в Системе, не возвращаются.
            li 6. Запрещенные действия.
                ul
                    li 6.1. Соглашаясь с условиями данного соглашения, Пользователь подтверждает, что не станет использовать в ходе деятельности по привлечению новых пользователей метод СПАМа. В случае подтвержденной жалобы на подобные действия пользователя его аккаунт может быть блокирован, а вознаграждение-удержано.
                    li 6.2. Платная система «Д-Опрос» на Сайте www.d-opros.com  не несет ответственности за любые действия, осуществляемые Пользователями с баннерами, эмблемами, ссылками и другими элементами оформления и интеллектуальной собственности сайта.
                    li 6.3. Пользователь  подтверждает и гарантирует, что ни при каких условиях не будет представлять, либо совершать действия, которые могут быть истолкованы как его принадлежность к Администрации Платной Системы « Д-Опрос» или Сайту www.d-opros.com.
            li 7. Вступление Соглашения в силу.
                p Настоящее Соглашение вступает в силу путем выражения Пользователем согласия с их условиями в форме проставления отметки о согласии (галочки) в специальном поле напротив фразы «Я принимаю условия Пользовательского соглашения» и «Политики конфиденциальности».
