extends layout

block content
    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container
        .panel.panel-warning
            .panel-heading
                h1= message
            .panel-body
                p.lead= "Извините, возникла ошибка доступа к странице"
            .panel-footer.hidden
                h2= error.status
                pre #{error.stack}

