extends layout

block content
    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container
        form(method='POST')
            legend Восстановление доступа к личному кабинету
            .form-group
                label(for='email') Email
                input.form-control(type='text', name='email', autofocus, placeholder='Укажите email вашей учетной записи')
            button.btn.btn-primary(type='submit') Сбросить пароль
