extends layout

block content
    // Slider Start
    section#slider.hidden-xs.hidden-sm
        //img.img-responsive(src='img/bg.jpg', alt='Img')
    // Wrapper Start
    section#intro
        .container
            .row
                .col-xs-12
                    .block.text-center
                        .section-title
                            h2 Что такое Д-Опрос?
                            br
                        p.lead
                            | Д-опрос-это анкета, за которую ты получаешь
                            strong  РЕАЛЬНЫЕ
                            |  деньги!
                        p.lead
                            | Д-опрос-это всемирная сеть. Сайт бесконечных связей и роста!
                        p.lead
                            | Д-опрос -это сайт твоих неограниченных возможностей.
                        // .col-md-7 close
                .col-xs-12
                    br
                    p.lead.text-center
                        | Здесь ты получаешь
                        strong  двойную выгоду.
                        | Ты зарабатываешь деньги и вносишь огромный вклад своими ответами в улучшение качества товаров и услуг. Мы ждем истинное мнение! Ты помогаешь нам и всему миру быть лучше! Вперед!
    section#feature
        .container
            .row
                .col-md-6.col-md-offset-6.text-center(style="padding: 100px 0; background-color: rgba(255,255,255,.8);")
                    h2 Д-опросный форум
                    p.lead.text-center
                        | Общайся, доверяй и проверяй, делись своим мнением!
                        | Мы создали для тебя прямой форум. Тебе есть, что сказать, поделиться своим опытом и мнением, расширить свою сеть?!
                    a.btn.btn-view-works(href='http://d-opros.com:4567', target='_blank') Ждем тебя здесь
    // Service Start
    section#service
        .container
            .row
                .section-title
                    h2 Наши возможности
                    //p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics
            .row
                .col-sm-6.col-md-4
                    .service-item
                        i.icon.ion-card
                        h4 Неограниченные деньги
                        //p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                .col-sm-6.col-md-4
                    .service-item
                        i.ion-earth
                        h4 Возможность получать деньги в любой точке мира
                        //p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                .col-sm-6.col-md-4
                    .service-item
                        i.ion-paper-airplane
                        h4 Отсутствие привязанности к работе
                        //p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                .col-sm-6.col-md-4
                    .service-item
                        i.ion-person-stalker
                        h4 Полная анонимность
                        //p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                .col-sm-6.col-md-4
                    .service-item
                        i.ion-thumbsup
                        h4 Твое мнение-самое важное
                        //p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                .col-sm-6.col-md-4
                    .service-item
                        i.ion-search
                        h4 Прозрачность начислений
                        //p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
    // Call to action Start
    section#call-to-action
        .container
            .row
                .col-md-12
                    .block
                        h2 У тебя остались вопросы?
                        p
                            | Мы всегда на связи
                        a.btn.btn-link.btn-call-to-action(href='mailto:support@d-opros.com') support@d-opros.com
    // Content Start
    section#testimonial
        .container
            .row
                .section-title.text-center
                    h2 Факты о нас
                    //p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics
            .row
                .col-md-6
                    .block
                        ul.counter-box.clearfix
                            li
                                .block
                                    i.ion-ios-chatboxes-outline
                                    h4.counter 20000
                                    span Заполненных анкет
                            li
                                .block
                                    i.ion-ios-glasses-outline
                                    h4.counter 4500
                                    span Зарегистрированных клиентов
                            li
                                .block
                                    i.ion-ios-compose-outline
                                    h4.counter 18
                                    span Стран-участников
                            li
                                .block
                                    i.ion-ios-timer-outline
                                    h4.counter 216000
                                    span Рабочих минут
                .col-md-6
                    //.testimonial-carousel
                        #testimonial-slider.owl-carousel
                            div
                                img(src='img/cotation.png', alt='IMG')
                                p
                                    | "This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."
                                .user
                                    img(src='img/item-img1.jpg', alt='Pepole')
                                    p
                                        span Rose Ray
                                        |  CEO
                            div
                                img(src='img/cotation.png', alt='IMG')
                                p
                                    | "This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."
                                .user
                                    img(src='img/item-img1.jpg', alt='Pepole')
                                    p
                                        span Rose Ray
                                        |  CEO
                            div
                                img(src='img/cotation.png', alt='IMG')
                                p
                                    | "This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."
                                .user
                                    img(src='img/item-img1.jpg', alt='Pepole')
                                    p
                                        span Rose Ray
                                        |  CEO
                            div
                                img(src='img/cotation.png', alt='IMG')
                                p
                                    | "This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."
                                .user
                                    img(src='img/item-img1.jpg', alt='Pepole')
                                    p
                                        span Rose Ray
                                        |  CEO
    // footer Start
