doctype html
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title д-опрос: #{title}
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // Place favicon.ico and apple-touch-icon.png in the root directory
        link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
        // CSS
        link(rel='stylesheet', href='/css/owl.carousel.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/less/style.css')
        link(rel='stylesheet', href='/css/ionicons.min.css')
        link(rel='stylesheet', href='/css/animate.css')
        link(rel='stylesheet', href='/less/responsive.css')
        link(rel='stylesheet', href='/sweetalert/sweetalert.css')
        // Js
        script(src='/js/vendor/modernizr-2.6.2.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script.
            window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\\/script>')
        script(src='/js/bootstrap.min.js')
        script(src='/js/owl.carousel.min.js')
        script(src='/js/plugins.js')
        script(src='/js/min/waypoints.min.js')
        script(src='/js/jquery.counterup.js')
        script(src='/js/jquery.maskedinput.min.js')

        script(src='/sweetalert/sweetalert.min.js')

        script(src='/js/main.js')
    body
        // Header Start
        header
            .container
                .row
                    .col-md-12
                        // header Nav Start
                        nav.navbar.navbar-default
                            .container-fluid
                                // Brand and toggle get grouped for better mobile display
                                .navbar-header
                                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                                        span.sr-only Toggle navigation
                                        span.icon-bar
                                        span.icon-bar
                                        span.icon-bar
                                    a.navbar-brand(href='/')
                                        //img(src='img/logo.png', alt='Logo')
                                        div.logo
                                            img(src='/img/logo.png' alt="д-опрос")
                                // Collect the nav links, forms, and other content for toggling
                                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                                    ul.nav.navbar-nav.navbar-right
                                        li
                                            a(href='/') Главная
                                        //li
                                            a(href='/register') Регистрация
                                        if (user && user.status > 90)
                                            li
                                                a(href='/ouadmin') Админпанель
                                        if (user)
                                            li
                                                a(href='/lk') Личный кабинет
                                            li
                                                a(href='/logout') Выход
                                        else
                                            li
                                                a(href='/login') Вход
                                // /.navbar-collapse
                            // /.container-fluid
        // header close
        block content
        footer
            .container
                .row
                    .col-md-12
                        .footer-manu
                            ul
                                li
                                    a(href='/') Главная
                                li
                                    a(href='/register') Регистрация
                                li
                                    a(href='/login') Вход
                                li
                                    a(href='/agreement') Пользовательское соглашение
                        p
                            | Copyright © МногоДеньги

                            | .
