extends layout

block content
    // Slider Start
    .container
        .row
            .col-md-12
                .block
                    h1 Личный кабинет

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container
        if (user.status == 0)
            .alert.alert-danger.alert-dismissible.fade.in(role='alert')
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') ×
                h4  Ваша учетная запись не активирована!
                p
                    | Если Вы не активируете Вашу учетную запись в течение 7 дней, она будет удалена!
                p
                    a(href='/confirm/account')
                        button.btn.btn-danger Активировать
        else
             p.lead Ваша партнерская ссылка:
                | &nbsp;
                .partner-url-block
                    .partner-url
                        input.form-control(type=text, readonly, value='http://' + host + '/register/' + user._id)
                    .partner-url-share
                        script(type='text/javascript').
                            (function() {
                                if (window.pluso)if (typeof window.pluso.start == "function") return;
                                if (window.ifpluso==undefined) { window.ifpluso = 1;
                                    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                                    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                                    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                                    var h=d[g]('body')[0];
                                    h.appendChild(s);
                                }})();
                        .pluso(data-background='#ebebeb', data-options='medium,square,line,horizontal,nocounter,theme=01', data-services='vkontakte,odnoklassniki,facebook,twitter,google,moimir,email', data-url='http://d-opros.com/register/' + user._id, data-title='D-opros.com - реальные деньги')


        if (!user.confirmed_email || user.confirmed_email !== user.email)
            .alert.alert-danger.alert-dismissible.fade.in(role='alert')
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') ×
                h4 E-mail #{user.email} не подтвержден!
                p
                    | Пока Вы его не подтвердите, мы не сможем использовать его для уведомлений, а также для восстановления пароля.
                if (!user.confirmEmailToken)
                    p
                        form(action="/confirm/email" method="post")
                            input(type='hidden' name='email' value=user.email)
                            input.btn.btn-danger(type='submit' value="Подтвердить")
                    //button.btn.btn-default(type='button') Изменить
                else
                    p На e-mail #{user.email} было выслано письмо с инструкциями для активации
                    p
                        form(action="/confirm/email" method="post")
                            input(type='hidden' name='email' value=user.email)
                            input.btn.btn-danger(type='submit' value="Выслать письмо еще раз")
        if (!user.confirmed_phone || user.confirmed_phone != user.phone)
            .alert.alert-danger.alert-dismissible.fade.in(role='alert')
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') ×
                h4 Телефон #{user.phone} не подтвержден!
                p
                    | Пока Вы его не подтвердите, мы не сможем использовать его для уведомлений, а также для восстановления пароля.
                p
                    form(action="/confirm/phone" method="post")
                        if (user.confirmPhoneToken)
                            input(type='text' name='code' placeholder='Код из СМС')
                        input(type='hidden' name='phone' value=user.phone)
                        input.btn.btn-danger(type='submit' value="Подтвердить")
                        if (user.confirmPhoneToken)
                            input.btn.btn-danger(type='submit' value="Выслать код заново")
                        //button.btn.btn-default(type='button') Изменить
                        p Запрашивать код можно не чаще чем раз в 5 минут

        .panel.panel-primary
            .panel-heading Мои данные
            .panel-body
                    p
                        strong Имя пользователя:
                        |  #{user.username}
                    p
                        strong Email:

                        if user.confirmed_email
                            |  #{user.confirmed_email}
                        else
                            |  #{user.email}
                            if user.confirmed_email != user.email
                                span   [Не подтвержден]
                    p
                        strong= 'Статус: '
                        | #{user.status}
                    p
                        strong Дата регистрации:
                        |  #{user.created.toISOString().replace('T', ' ').slice(0, -5)}

        .panel.panel-primary
            .panel-heading Мои рефералы (#{refs.verified.length} / #{refs.registered.length})
            .panel-body
                p Зарегистрированных рефераллов: #{refs.registered.length}
                p Подтвержденных рефераллов: #{refs.verified.length}

        .panel.panel-primary
            .panel-heading Мои опросы (#{polls.incompleted})
            .panel-body
                p Добавлено опросов: #{polls.total.length}
                p Пройдено опросов: #{polls.completed.length}
                p Не пройдено опросов: #{polls.incompleted}
                a(href='/poll')
                    button.btn.btn-primary Перейти к опросу

        .panel.panel-primary
            .panel-heading Мои опросы (#{polls.incompleted})
            .panel-body
                if (order)
                    p Регистрация оплачена
                else
                    p Регистрация не оплачена
                .row
                    .col-xs-12.col-sm-6
                        h3 Начисленные вознаграждения:
                        ol
                            each val in polls.completed
                                li= val.summ + ' руб.'
                        p.lead Всего: #{sum} руб.
                    .col-xs-12.col-sm-6
                        h3 Выплаченные вознаграждения:
                        p.lead Всего: 0 руб.
                h3 Ваш баланс: #{sum} руб.
                p Вывод средств возможен при сумме от 300 рублей.
                if (sum >= 300)
                    br
                    a(href='/lk/payout')
                        button.btn.btn-primary Вывести средства



