extends layout

block content
  // Slider Start
  section
    .container
      .row
        .col-md-12
          .block
            h1.text-center Вход в Личный кабинет
            //p Здесь начинается ваш путь к успеху

  .container
    if messages.error
      .alert.alert-danger
        div= messages.error
    if messages.info
      .alert.alert-info
        div= messages.info
    if messages.success
      .alert.alert-success
        div= messages.success

  section#contact-form
    .container
      .row
        .col-md-6.col-md-offset-3
          .block
            form#login(method='POST')
              .form-group
                input.form-control(type='text', placeholder='Email', name='username')
              .form-group
                input.form-control(type='password', placeholder='Пароль', name='password')
              button.btn.btn-default(type='submit') Вход
            br
            a.text-center(href="/forgot") Забыли пароль?



