extends layout

block content
    .container
        .row
            .col-md-12
                .block
                    h1 Вывод средств

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container
        p.lead Доступно к выводу: #{sum} руб.
        .row
            .col-xs-12.col-sm-6
                .panel.panel-primary
                    .panel-heading Вывод на кошелек QIWI
                    .panel-body
                        form(method='POST', action='/lk/payout/qiwi')
                            .form-group
                                label(for='numberQiwi') Введите номер кошелька QIWI
                                input#numberQiwi.form-control(type='text', name="number")
                            .form-group
                                label(for='sumQiwi') Введите сумму для вывода в рублях без копеек
                                input#sumQiwi.form-control(type='number', min=300 , max=sum, placeholder='от 300 до ' + sum, name='sum')
                            button.btn.btn-primary(type='submit') Вывести средства на QIWI

            .col-xs-12.col-sm-6
                .row
                    .panel.panel-primary
                        .panel-heading Вывод на карту
                        .panel-body
                            form(method='POST', action='/lk/payout/card')
                                .form-group
                                    label(for='numberCard') Введите номер банковской карты
                                    input#numberCard.form-control(type='text', name='number')
                                .form-group
                                    label(for='sumCard') Введите сумму для вывода в рублях без копеек
                                    input#sumCard.form-control(type='number', min=300 , max=sum, placeholder='от 300 до ' + sum, name='sum')
                                button.btn.btn-primary(type='submit') Вывести средства на карту

        p Вывод средств осуществляется в течение суток. Коммиссия за перевод (при ее наличии) удерживается с получателя