extends layout

block content
    .container
        .row
            .col-md-12
                .block
                    h1 Оплата

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container.payment
        if orderId
            p.lead Поздравляем! Регистрация успешно завершена! Теперь Вы можете использовать для входа свои email и пароль.
            p.lead Напоминаем, что по условиям Пользовательского соглашения, для доступа к сервисам сайта Вам необходимо оплатить взнос в 500 рублей. Сделать это Вы сможете с помощью кнопки:

        div
            script(language='JavaScript', src=`https://auth.robokassa.ru/Merchant/PaymentForm/FormMS.js?MerchantLogin=${mrh_login}&OutSum=${out_sum}&InvoiceID=${inv_id}&Description=${inv_desc}&SignatureValue=${md5Hash}`)
