extends layout

block content
    // Slider Start
    .container
        .row
            .col-md-12
                .block
                    h1 Мои опросы

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container
        p Добавлено опросов: #{polls.total.length}
        p Пройдено опросов: #{polls.completed.length}
        p Не пройдено опросов: #{polls.incompleted}
        .row
            .col-xs-12.col-sm-4(style="margin-bottom: 20px")
                a(href='/poll/next')
                    button.btn.btn-primary.btn-block Пройти опрос
            .col-xs-12.col-sm-4
                a(href='/lk')
                    button.btn.btn-default.btn-block Вернуться в личный кабинет
        br
        br



