extends layout

block content
    // Slider Start
    .container
        .row
            .col-md-12
                .block
                    h1 Личный кабинет

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container
        h1.text-center Опрос №1
        form
            div.form-group
                p.lead 1. Цвет, который вызывает доверие
                .radio
                    label
                        input(type='radio', name='q1', value='1')
                        |  Синий
                .radio
                    label
                        input(type='radio', name='q1', value='2')
                        |  Желтый
                .radio
                    label
                        input(type='radio', name='q1', value='3')
                        |  Розовый
                .radio
                    label
                        input(type='radio', name='q1', value='4')
                        |  Зеленый
            div.form-group
                p.lead 2. Цвет, который вызывает неприятное ощущение
                .radio
                    label
                        input(type='radio', name='q2', value='1')
                        |  Черный
                .radio
                    label
                        input(type='radio', name='q2', value='2')
                        |  Красный
                .radio
                    label
                        input(type='radio', name='q2', value='3')
                        |  Синий
                .radio
                    label
                        input(type='radio', name='q2', value='4')
                        |  Оранжевый
            div.form-group
                p.lead 3. Вы в данное время:
                .radio
                    label
                        input(type='radio', name='q3', value='1')
                        |  Работаете
                .radio
                    label
                        input(type='radio', name='q3', value='2')
                        |  Учитесь
                .radio
                    label
                        input(type='radio', name='q3', value='3')
                        |  Временно безработный
                .radio
                    label
                        input(type='radio', name='q3', value='4')
                        |  Домохозяйка
                .radio
                    label
                        input(type='radio', name='q3', value='4')
                        |  Декретный отпуск



