extends layout

block content
    // Slider Start

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success

    .container
        .row
            .col-md-12
                .block
                    h1= question.text

    .container
        form(method="POST", action="submit")
            input(type='hidden', name='questionId', value= question._id)
            each val, index in question.answers[0]
                .radio
                    label
                        input#optionsRadios1(type='radio', name='option', value=index + '|' + val, required)
                        |     #{val}
            .row
                .col-xs-12.col-sm-4
                    button.btn.btn-success.btn-block(type='submit') Ответить
        br
        .row
            .col-xs-12.col-sm-4
                button.btn.btn-default.btn-block(type='submit')
                    a(href='/poll') Вернуться
        br
        br
