extends layout

block content
    // Slider Start
    section
        .container
            .row
                .col-md-12
                    .block
                        h1.text-center Регистрация

    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success

    section#contact-form
        .container
            .row
                .col-md-6.col-md-offset-3
                    .block
                        form#register(method='POST', action='/register')
                            .form-group
                                input.form-control(type='text', placeholder='Ваше имя', name='username', required)
                            .form-group
                                input.form-control(type='email', placeholder='Email', name='email', required)
                            .form-group
                                input.form-control(type='tel', placeholder='Телефон', name='phone', required)
                            .form-group
                                input.form-control(type='password', placeholder='Пароль (не менее 5 символов)', name='password', required, minlength="5")
                            .form-group
                                input.form-control(type='password', placeholder='Подтвердите пароль', name='repassword', required, minlength="5")

                            input(type='hidden', name='partner_id', value=`${partner_id}`)

                            .checkbox
                                label
                                    input(type='checkbox' name='agree', required)
                                    |Я согласен с условиями
                                    a(href="/agreement")   пользовательского соглашения


                            button.btn.btn-default(type='submit') Регистрация!
                            div.btn.btn-link.btn-block
                                a.text-center(href="/forgot") Восстановить пароль


    // Call to action Start
    section#call-to-action
        .container
            .row
                .col-md-12
                    .block
                        h2 Зарегистрируйся сейчас!
                        p
                            | Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.


