extends layout

block content
    .container
        if messages.error
            .alert.alert-danger
                div= messages.error
        if messages.info
            .alert.alert-info
                div= messages.info
        if messages.success
            .alert.alert-success
                div= messages.success
    .container
        form(method='POST')
            legend Сброс пароля
            .form-group
                label(for='password') Новый пароль
                input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true)
            .form-group
                label(for='confirm') Подтверждение пароля
                input.form-control(type='password', name='confirm', value='', placeholder='Введите новый пароль еще раз')
            .form-group
                button.btn.btn-primary(type='submit') Update Password